* {margin: 0;}


header {
    height: 100px;
    border: 7px dashed red;

    /*background-color: aqua;*/

    background-color: rgb(55, 100, 50);
    background-image: url(https://www.rocketseat.com.br/assets/logos/discover-reduced.svg);
    background-repeat: no-repeat;
}